<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">usermgmt System</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/">Authentication</a></li>
        <li><a *ngIf="auth.isAuthenticated()" routerLink="/profile">My Profile</a></li>

        <li><a *ngIf="auth.isAuthenticated() && auth.userHasScopes(['read:data'])" routerLink="/usermgmt-list">Can Read</a></li>
        <li><a *ngIf="auth.isAuthenticated() && auth.userHasScopes(['write:data'])" routerLink="/usermgmt-add">Can Write</a></li>
        <li><a *ngIf="auth.isAuthenticated() && auth.userHasScopes(['delete:data'])" routerLink="/usermgmt-delete">Can Delete</a></li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a *ngIf="!auth.isAuthenticated()" href="javascript:void(0)" (click)="auth.login()">Log In</a></li>
        <li><a *ngIf="auth.isAuthenticated()" href="javascript:void(0)" (click)="auth.logout()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>

<main class="container">
  <router-outlet></router-outlet>
</main>
